* {
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
    font-size: 16px;
}
h1{
    font-size: 6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: normal;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
@media (max-width: 1000px){
    .banner{
        height: 30rem;
    }
}