.banner{
    display: flex;
    justify-content: center ;
    height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("..//img/Inicio.jpg");
    background-size: cover;
    background-position: center;  
    text-align: center;
}
.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo h1{
    font-size: 65px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}
.bene{
    display: flex;
    justify-content: space-evenly;
    padding: 60px 0;
    flex-wrap: wrap;
    gap: 20px;
}
.icon{
    width: 8rem; 
    height: 8rem;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.icon svg {
    width: 4rem;
    height: 4rem;
    fill: white;
}
.bene p{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    font-weight: bold;
}
.bene article {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.quien{
    display: flex;
    width: 70%;
    margin:auto;
    margin-top: 5rem ;
    margin-bottom: 9rem ;
}
.img1{
    width: 40%;
    display: flex;
    justify-content: end;
    padding-right:4rem ;
    align-items: center;
}
.img1 img{
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);      

}
.quien article{
    display: flex;
    width: 60%;
    align-items: center;
}
.quien p{   
    font-size: 2.4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    padding-right:3rem ;
}
.elija{
    width: 70%;
    margin: auto;
}
.elija h2{
    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 4rem;
}
.img2{
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
}
.img2 img{
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);    
    width: 100%;
    max-width: 35rem;
}
.img2 p{
    text-align: center;
    font-size: 25px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 2rem;
}
.produreci h2{
    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 4rem;
}

.cont{
    display: flex;
    margin: auto;
    width: 70%;
    flex-wrap: wrap;
    gap: 2rem;
}
.item {
    max-width: 30rem;
    flex: 1 1 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

}
.item img{
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
}
.item h3{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.item p{
    font-size: 23px;
    margin-bottom: 2rem;
}


/*contacto*/
.conta{
    margin-top: 10rem;
    display: grid;
    justify-content: center ;
    align-content: center;
    text-align: center;
    height: 40rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("..//img/contacto.jpg");
    background-size: cover;
    background-position: center;  
    padding: 80px 20px; /* Mucho espacio arriba y abajo para que respire */
    gap: 30px;
}
.textconta {
    color: aliceblue;
    max-width: 80rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.textconta h2{
    font-size: 6rem;
}
.boton{
    width: 30%;
    max-width: 20rem;
    height: 5rem;
    border-radius: 0.8rem;
    background-color: rgb(255, 208, 236);
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 2rem;
    border: rgb(255, 208, 236);;
}
.boton:hover{
    cursor: pointer;
    background-color: rgb(255, 232, 246);
}

@media (max-width: 700px) {
    .elija{
        width: 90%;
    }
    .elija h2{
        font-size: 4rem;
    }
    .banner{
        height: 37rem;
    }
    .img3{
        width: 90%;
        gap: 1.5rem;
    }

}
@media (max-width:900px){
    .quien{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .img1{
        justify-content: center;
        width:100%;
        padding: 0;
    }
    .quien article{
        padding: 0 20px;
        width: 100%;
    }
}

@media (max-width: 1600px){
    .quien{
        width: 90%;
    }
    .quien p{
        font-size: 2rem;
        margin: 0;
        padding: 0;
    }
    .item{
        margin: 0;
    }
    .item img{
        min-width: 10rem;
    }
}
