@media (max-width: 800px) {
    .header {
        flex-direction: column;
        height: auto; 
        padding: 20px 10px;
        gap: 15px; 
    }

    .menu {
        align-items: center;
        width: 100%; 
        flex-direction: column; 
        gap: 15px; 
    }
}
.logo img {
    height: 7rem; 
    align-items: center; 
}
.menu{
    display: flex;
    width: 40%;
    justify-content: space-evenly;
}
.menu a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu a:hover {
    color: #ff6b6b; 
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 50px;
    background-color: rgb(255, 232, 232);
    height: auto; 
}
.carrito{
    width: 7rem; 
    height: 7rem;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.carrito:hover {
    transform: scale(1.1);
    background-color: #333;
}
.carrito svg {
    width: 3.5rem;
    fill: rgb(255, 255, 255);
}

